<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cluster Middleware</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="src/css/bootstrap.min.css" />
    <link rel="stylesheet" href="src/css/index.css"> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/src/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index.css')}}">
    
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-custom navbar-expand-lg">
            <a class="navbar-brand" href="#">Middleware</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="mid-main">
                <fieldset>
                    <legend>Upload the file for processing</legend>

                    <div class="custom-radio">
                        <input type="radio" class="radio" id="matmul" name="radioform" value="matmul" checked>
                        <label class="radio-label" for="">Matrix Multiplication</label>
                    </div>

                    <div class="custom-radio">
                            <input type="radio" class="radio" id="userpass" name="radioform" value="userpass">
                            <label class="radio-label" for="">Username-password generator</label>
                    </div>

                    <div class="custom-radio">
                            <input type="radio" class="radio" id="addition" name="radioform" value="addition">
                            <label class="radio-label" for="">Addition</label>
                    </div>

                    <div class="custom-radio">
                            <input type="radio" class="radio" id="multiplication" name="radioform" value="multiplication">
                            <label class="radio-label" for="">Multiplication</label>
                    </div>

                    <!-- <div class="form-group mb-2">
                            <input type="file" class="form-control-file" name="radioform" id="uploadFile">
                    </div> -->

                    <div style="width:100%;">
                        <!-- <input type='submit' onclick="onClickUpload" name="submit" value="Upload" style="margin: 20px auto; width: 50%; display: flex; justify-content: center;"/> -->
                        <form method=post enctype=multipart/form-data>
                            <input type=file name=file>
                            <input type=submit value=Upload>
                        </form>
                    </div>
                </fieldset>
     
            
        </div>

    </div>    

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='scripts/src/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/index.js')}}"></script>    
    <!-- <script src="src/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="src/js/index.js"></script> -->

</body>
</html>