html, body{
    height: 100%;
}

body{
    background-color: #181818 !important;
}

form{
    margin: 25px auto;
}

.form-inline{
    /* background-color: aqua; */
    /* margin: 10px auto; */
}

.form-control-file{
    /* margin: 0 auto; */
    width: auto;
}

.container{
    /* background-color: #fff; */
    height: 100%;
}

.mid-main{
    margin: 20% auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    /* background-color: #c45555; */
}

.upload-label{
    /* background-color: pink; */
    color:white;
    font-size: 1.4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .button-div{
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    /* position: relative; * /
    overflow: hidden;
    /* display: inline-block; * /
}

.file-btn-wrapper{
    /* position: relative; * /
    overflow: hidden;
    display: inline-block;
    margin-right: 4px;
}

.file-btn-wrapper input[type=file] {
    font-size: 100px;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
  }  */

.navbar-custom {
    background-color: #181818;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}