<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cluster Middleware</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="src/css/bootstrap.min.css" />
    <link rel="stylesheet" href="src/css/index.css"> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/src/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index.css')}}">
    
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-custom navbar-expand-lg">
            <a class="navbar-brand" href="#">Middleware</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <form name="form_choose" action="/upload" method=get onsubmit="">
            <p>
            <input type="radio" name="options" id="option1" value="Add"> Add </input><br>
            <input type="radio" name="options" id="option2" value="Multiply"> Multiply </input><br>
            <input type="radio" name="options" id="option3" value="ImageFilter"> ImageFilter </input><br>
            </p>
            <p><input  type="submit" value=Next></p>
        </form>

    </div>    

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='scripts/src/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/index.js')}}"></script>    
    <!-- <script src="src/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="src/js/index.js"></script> -->

</body>
</html>